@import "../../css/colors.css";
@import "../../css/z-index.css";

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-loader;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $motion-primary;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
}
[theme="dark"] .background {
    background-color: $motion-primary-dark;
}

.spin {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.spin-back {
  -webkit-animation:spin-back 4s linear infinite;
  -moz-animation:spin-back 4s linear infinite;
  animation:spin-back 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.fullscreen {
    /* Break out of the layout using position: fixed to cover the whole screen */
    position: fixed;
    /* Use the fullscreen stage z-index to allow covering full-screen mode */
    z-index: $z-index-stage-wrapper-overlay;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.75rem 0;
}

.message-container-outer {
    height: 30px;
    overflow: hidden;
}

.message-container-inner {
    transition: transform 0.5s;
}

.message {
    height: 20px;
    margin: 5px 0;
}

.tw-progress-outer {
  width: 250px;
  height: 8px;
  border-radius: 8px;
  background-color: $ui-white-transparent;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.tw-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $ui-white;
}